################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/.vs/Project/FileContentIndex/6bf4e3ef-e0e7-4952-b797-d939cc3eb61e.vsidx
/Project/.vs/Project/FileContentIndex/8726d792-2d22-40fa-8a0d-442a78f28918.vsidx
/Project/.vs/Project/FileContentIndex/b1e4eed4-3289-46ee-8788-391235b11519.vsidx
